.wrapper {
    border:1px solid black;
    border-radius:7px;
    transition: all .5s;
    background:white;
}

.droparrow {
    transform: translate(-30px, 5px);
}

.droparrow svg {
    transition : all .3s;
}

.results {
    width:calc(100% - 20px);
    padding-left:20px;
    transition: all .5s;
    margin-left:10px;
}

.results_div {
    cursor: pointer;
}

.dropdown_input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width:100%;
    margin-left:15px;
    background:white;
}

.selectValue {
    position: absolute;
    padding-left:20px
}

.container {
    height:50px;
}