@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
  --green: #036803;
  --green-light: #297F54;
  --green-medium : #c8ffdd;
  --green-ultalight: #edfff4;
  --light-grey: #f2f8f0;
  --bright-green: #02a13f;
  --error: #b90707;
  --light-red: #d69595;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-green : var(--green);
  --color-green-light : var(--green-light);
  --color-green-medium: var(--green-medium);
  --color-green-ultalight: var(--green-ultalight);
  --color-light-grey: var(--light-grey);
  --color-error: var(--error);
  --color-light-red: var(--light-red);
  --color-bright-green: var(--bright-green);
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(360deg) scale(1.5);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color:#333;
}

main {
  height:100vh;
}

h1 {
  font-size:38px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight:500;
}

h3 {
  font-size:28px;
  font-weight:500;
}

h4 {
  font-size:24px;
  font-weight:500;
}

h5 {
  font-size:20px;
  font-weight:500;
}

h6 {
  font-size:18px;
  font-weight:500;
}

p {
  font-size:18px;
}

body {
  font-size:18px;
}

form {
  border-radius: 7px;
  box-shadow: 0px 0px 1px 1px var(--color-green);
  padding: 30px 50px;
  overflow:hidden;
}

div#overlay {
  position: absolute;
  height:100vh;
  width:200vh;
  z-index:100;
  background:var(--color-background);
}

div.flex.flex-row > span {
    margin-right: 5px;
}

a, ul.menu li {
  cursor: pointer;
  animation-timing-function: ease-in-out;
  transition-duration : .3s;
}

a:hover, ul.menu li:hover {
  transform: translate(50px, 1px);
  scale: 115%;
  filter: contrast(0.7);
}

a.no-scale-hover:hover {
  transform: translate(0,0);
  scale:100%;
  filter: opacity(0.5);
}

input[type = "text"], input[type = "password"], input[type = "select"] {
  border: 1px solid #333;
  border-radius: 7px;
  padding: 5px;
  font-size:16px;
  box-shadow: inset 0 0px 2px #333;
}

input[type = "text"]:focus, input[type = "password"]:focus, input[type = "select"]:focus {
    box-shadow: inset 0 1px 6px var(--color-green);
    border-color:var(--color-green);
}

input[disabled], input[readonly] {
    background: #eee;
    color: #555;
    cursor: no-drop;
}

label {
  margin-right:3px;
  font-weight: bold;
}

button[type="submit"],button[type="reset"], button.btn, input[type = "button"] {

  border: 1px solid #333;
  min-width:130px;
  border-radius:7px;
  cursor: pointer;
  box-shadow: inset 0 0px 2px #333;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 12px;
  padding-right: 12px;
  animation-timing-function: ease-in-out;
  transition-duration : .3s;
}

button[type="submit"]:hover, button[type="reset"]:hover, button.btn:hover, input[type = "button"]:hover {
    scale: 110%;
    filter: contrast(0.5);
}

button.danger {
  background-color: transparent;
  color: var(--error);
  font-weight: 500;
  box-shadow: none;
  border:2px solid var(--error);
}

.error {
  color: var(--color-error);
}

.success {
  color: var(--color-green);
}

.notvisible {
  visibility:hidden;
}

.hide {
  display:none;
}

.show {
  display: block;
}

.sendtoback {
  z-index:-1 !important;
}

.sendtofront {
  z-index:5 !important;
}

.dim {
  filter: opacity(.5) drop-shadow(2px 4px 6px black)

}

/* date picker css */
.my-custom-calendar {
  z-index:1;
}

.my-custom-calendar .react-datepicker__day--selected {
    background-color: var(--color-green);
}
/* end date picker */


/*.animation-iteration-count-3 {
  animation-iteration-count: 7;
} */
