@import "tailwindcss";

:root {
  --background: #297F54;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-green : #036803;
  --color-green-light : #297F54;
  --color-green-ultalight: #edfff4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #036803;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height:100vh;
}
